{#
 # Sharif Judge
 # file: base.twig
 # author: Mohammad Javad Naderi <mjnaderi@gmail.com>
 #}
<!DOCTYPE html>
<html>
<head>
	<title> {{ user.site_name }} - {% block head_title %}{% endblock %} - WeCode Judge</title>
	<meta content="text/html" charset="UTF-8">
	<link rel="icon" href="{{ base_url('assets/images/favicon.ico') }}"/>

	<link rel="stylesheet" type='text/css' href="{{ base_url('assets/bootstrap4/css/bootstrap.css') }}"/>

	<link rel="stylesheet" type='text/css' href="{{ base_url('assets/styles/main.css') }}"/>
	<link rel="stylesheet" type='text/css' href="{{ base_url('assets/styles/flick/jquery-ui-1.12.1-custom.min.css') }}"/>
	<link rel='stylesheet' type='text/css' href='{{ base_url('assets/nano_scroller/nanoscroller.css') }}'/>
	<link rel='stylesheet' type='text/css' href='{{ base_url('assets/font/font-awesome/css/font-awesome.min.css') }}'/>



	<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>

	<script type="text/javascript" src="{{ base_url('assets/js/moment.min.js') }}"></script>
	<script type="text/javascript" src="{{ base_url('assets/js/jquery.hoverIntent.minified.js') }}"></script>
	<script type="text/javascript" src="{{ base_url('assets/js/jquery.cookie.js') }}"></script>
	<!-- <script type="text/javascript" src="{{ base_url('assets/js/jquery.ba-resize.min.js') }}"></script> -->

	<script type="text/javascript" src="{{ base_url('assets/noty/jquery.noty.js') }}"></script>
	<script type="text/javascript" src="{{ base_url('assets/noty/layouts/center.js') }}"></script>
	<script type="text/javascript" src="{{ base_url('assets/noty/layouts/bottomRight.js') }}"></script>
	<script type="text/javascript" src="{{ base_url('assets/noty/themes/default.js') }}"></script>

	<script type='text/javascript' src="{{ base_url('assets/nano_scroller/jquery.nanoscroller.min.js') }}"></script>


</head>
<script type="text/javascript">
shj={};
shj.site_url = '{{ rtrim(site_url(),'/')|e('js') }}/';
shj.base_url = '{{ rtrim(base_url(),'/')|e('js') }}/';
shj.csrf_token = $.cookie('csrf_cookie');
shj.offset = moment('{{ shj_now_str() }}').diff(moment());
shj.time = moment();
shj.finish_time = moment("{{ user.selected_assignment.finish_time|raw }}");
shj.extra_time = moment.duration({{ user.selected_assignment.extra_time|raw }}, 'seconds');
// notifications
shj.check_for_notifications = false;
shj.notif_check_delay = 30;
shj.color_scheme = 'github';
</script>

<script type="text/javascript" src="{{ base_url('assets/js/shj_functions.js') }}"></script>

{% block other_assets %}{% endblock %}

<body id="body">
{% include 'templates/top_bar.twig' %}

<div class="container-fluid"><div class="row">
	{% include 'templates/side_bar.twig' %}
	<div id="main_container" class="scroll-wrapper">
		<div class="scroll-content">
			<div id="page_title">
				<i class="fa {% block icon %}{% endblock %}"></i>
				<span dir="auto">{% block title %}{% endblock %}</span>
				{% block title_menu %}{% endblock %}
			</div>

			<div id="main_content">
				{% block main_content %}
				{% endblock %}
			</div>
		</div>
	</div>

</div></div>
{% block body_end %}{% endblock %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
<script	src="{{ base_url('assets/js/notify.min.js') }}"></script>


</body>
</html>
