<nav id="mainNav" class="mainNav navbar navbar-expand-lg navbar-dark fixed-top color-{{ selected }} bg-dark">
	<a  class="navbar-brand" href="{{ site_url('/') }}">
		<img src="{{ base_url('assets/images/logo.png') }}" height="30px" />
		{{ user.site_name }}
	</a>
	
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarCollapse">
	  <ul class="navbar-nav navbar-sidenav color-{{ selected }}" id="exampleAccordion">
		  <li class="nav-item color-dashboard{{ selected=='dashboard' ? ' selected' }}">
		      <a class="nav-link" href="{{ site_url('dashboard') }}">
		          <i class="fa fa-fw fa-dashboard fa-lg"></i>
		          <span class="nav-link-text">Dashboard</span>
		      </a>
		  </li>
		  {% if user.level == 3 %}
		  <li class="nav-item color-settings{{ selected=='settings' ? ' selected' }}" >
		      <a class="nav-link" href="{{ site_url('settings') }}">
		          <i class="fa fa-fw fa-gear fa-lg"></i>
		          <span class="nav-link-text">Settings</span>
		      </a>
		  </li>
		  <li class="nav-item color-users{{ selected=='users' ? ' selected' }}">
		      <a class="nav-link" href="{{ site_url('users') }}">
		          <i class="fa fa-fw fa-users fa-lg"></i>
		          <span class="nav-link-text">Users</span>
		      </a>
		  </li>
		  {% endif %}
		  <li class="nav-item color-notifications{{ selected=='notifications' ? ' selected' }}">
		      <a class="nav-link" href="{{ site_url('notifications') }}">
		          <i class="fa fa-fw fa-bell fa-lg"></i>
		          <span class="nav-link-text">Notifications</span>
		      </a>
		  </li>
		  <li class="nav-item color-assignments{{ selected=='assignments' ? ' selected' }}">
		      <a class="nav-link" href="{{ site_url('assignments') }}">
		          <i class="fa fa-fw fa-folder-open fa-lg"></i>
		          <span class="nav-link-text">Assignments</span>
		      </a>
		  </li>
		  <li class="nav-item color-problems{{ selected=='problems' ? ' selected' }}">
		      <a class="nav-link" href="{{ site_url('problems') }}">
		          <i class="fa fa-fw fa-puzzle-piece fa-lg"></i>
		          <span class="nav-link-text">Problems</span>
		      </a>
		  </li>
		  <li class="nav-item color-submit{{ selected=='submit' ? ' selected' }}">
		      <a class="nav-link" href="{{ site_url('submit') }}">
		          <i class="fa fa-fw fa-location-arrow fa-lg"></i>
		          <span class="nav-link-text">Code Editor</span>
		      </a>
		  </li>
		  <li class="nav-item color-final_submissions{{ selected=='final_submissions' ? ' selected' }}">
		      <a class="nav-link" href="{{ site_url('submissions/final') }}">
		          <i class="fa fa-fw fa-map-marker fa-lg"></i>
		          <span class="nav-link-text">Final Submissions</span>
		      </a>
		  </li>
		  <li class="nav-item color-all_submissions{{ selected=='all_submissions' ? ' selected' }}">
		      <a class="nav-link" href="{{ site_url('submissions/all') }}">
		          <i class="fa fa-fw fa-bars fa-lg"></i>
		          <span class="nav-link-text">All Submissions</span>
		      </a>
		  </li>
		  <li class="nav-item color-scoreboard{{ selected=='scoreboard' ? ' selected' }}">
		      <a class="nav-link" href="{{ site_url('scoreboard') }}">
		          <i class="fa fa-fw fa-star fa-lg"></i>
		          <span class="nav-link-text">Scoreboard</span>
		      </a>
		  </li>

		  <div class="p-1 sidenav-bottom nav-item mt-auto">
			  <span>
				  <a href="https://github.com/truongan/wecode-judge" target="_blank">&copy; Wecode Judge {{ SHJ_VERSION }}</a>
				  <a href="https://github.com/truongan/wecode-judge/tree/docs" target="_blank">Docs</a>
			  </span><br/>
			  <span class="timer"></span>
		  <div>
		
		{# <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Menu Levels">
		  <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti" data-parent="#exampleAccordion">
			<i class="fa fa-fw fa-fw fa-sitemap"></i>
			<span class="nav-link-text">Menu Levels</span>
		  </a>
		  <ul class="sidenav-second-level collapse" id="collapseMulti">
			<li>
			  <a href="#">Second Level Item</a>
			</li>
			<li>
			  <a href="#">Second Level Item</a>
			</li>
			<li>
			  <a href="#">Second Level Item</a>
			</li>
			<li>
			  <a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti2">Third Level</a>
			  <ul class="sidenav-third-level collapse" id="collapseMulti2">
				<li>
				  <a href="#">Third Level Item</a>
				</li>
				<li>
				  <a href="#">Third Level Item</a>
				</li>
				<li>
				  <a href="#">Third Level Item</a>
				</li>
			  </ul>
			</li>
		  </ul>
		</li> #}
		
	  </ul>

	  <ul class="navbar-nav sidenav-toggler">

		<li class="nav-item">
		  <a class="nav-link text-center" id="sidenavToggler">
			<i class="fa fa-fw fa-fw fa-angle-left"></i>
		  </a>
		</li>
	  </ul>

		<ul class="navbar-nav ml-auto">
			{%  if user.level >= 2 %}
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Tools
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					<a class="dropdown-item" href="{{ site_url('rejudge') }}">Rejudge</a>
					<a class="dropdown-item" href="{{ site_url('queue') }}">Submission Queue</a>
					<a class="dropdown-item" href="{{ site_url('moss/'~user.selected_assignment['id']) }}">Cheat Detection</a>
					<a class="dropdown-item" href="{{ site_url('htmleditor') }}">HTML editor</a>
				</div>
			</li>
			{% endif %}
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="{{ site_url('assignments') }}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span dir="auto" class="assignment_name">{{ user.selected_assignment.name|length > 30 ? user.selected_assignment.name|slice(0, 30) ~ '...' : user.selected_assignment.name }}</span>
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					{% for assignment_item in all_assignments|reverse[:5] %}
						<a class="dropdown-item select_assignment">
							<i class="fa fa-fw fa-lg {{ assignment_item.id == user.selected_assignment.id ? 'fa-check-square-o color6' : 'fa-square-o' }}" data-id="{{ assignment_item.id }}"></i>
							{{ assignment_item.name }}
						</a>
					{% endfor %}

					<a  class="dropdown-item" href="{{ site_url('assignments') }}">All Assignments</a>

				</div>
			</li>
		</ul>



		<div class="navbar-nav">
			<div class="top_object top_left shj-spinner" style="display: none;">
				<i class="fa fa-fw fa-refresh fa-spin fa-lg"></i>
			</div>
		</div>
		<div class="navbar-nav">
			<div class="top_object countdown" id="countdown">
				<div class="time_block">
					<span id="time_days" class="countdown_num"></span>
				</div>
			</div>
			<div class="top_object countdown" id="extra_time">
				<i class="fa fa-fw fa-plus-square fa-2x"></i>
				<div class="time_block">
					<span>Extra</span><br><span>Time</span>
				</div>
			</div>
		</div>

		<div class="navbar-nav  shj_menu">
			<div class="nav-item dropdown">
				<a class="dropdown-toggle nav-link" data-toggle="dropdown" href="{{ site_url('profile') }}" id="profile_link"><i class="fa fa-fw fa-user"></i></a>
				<div class="top_menu user-menu dropdown-menu dropdown-menu-right">
					<div class="gravatar"><img src="https://www.gravatar.com/avatar/{{ md5(user.email) }}?s=70&d=identicon" /></div>
					<div class="name"><i class="fa fa-fw fa-user"></i> {{ user.username }}</div>
					<div class="menu-controls">
						<a href="{{ site_url('logout') }}" class="logout-btn"><i class="fa fa-fw fa-sign-out"></i> Sign Out</a>
						<a href="{{ site_url('profile') }}" class="profile-btn"><i class="fa fa-fw fa-wrench"></i> Profile</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</nav>
