<!DOCTYPE html>
<html>
<head>
	<meta content="text/html" charset="UTF-8">
	
	<link rel="stylesheet" href="{{ base_url('assets/css/bootstrap.css') }}">
	<link rel="stylesheet" href="{{ base_url('assets/css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ base_url('assets/css/bootstrap-theme.min.css') }}">
	<link rel="stylesheet" href="{{ base_url('assets/css/bootstrap-select.min.css') }}">
	<link rel="stylesheet" href="{{ base_url('assets/css/style.css') }}">

	<script type="text/javascript" src="{{ base_url('assets/js/jquery-3.2.1.min.js') }}"></script>
	<script type="text/javascript" src="{{ base_url('assets/js/jquery.min.js') }}"></script>
	<script type="text/javascript" src="{{ base_url('assets/js/thien_function.js') }}"></script>
	<script type="text/javascript" src="{{ base_url('assets/js/bootstrap-select.min.js') }}"></script>
	<script type="text/javascript" src="{{ base_url('assets/js/bootstrap.min.js') }}"></script>

</head>
<body>
	{% include 'templates/bar.twig' %}
    <div class="baitapnar">
	  	<div class="row">
	  		<div class="col-md-6 font-size">
				<div class="row padding-left">

					{% if user.level >= 2 %}
						<!-- <span class="title_menu_item"><a href="{{ site_url("problems/edit/md/1/#{problem.id}") }}"><span class="glyphicon glyphicon-pencil"></span> Edit Markdown</a></span> -->
						<span class="title_menu_item"><a href="{{ site_url("problems/edit/html/1/#{problem.id}") }}"><span class="glyphicon glyphicon-edit"></span> Edit HTML</a></span>
						<span class="title_menu_item" style="padding-left: 15px;"><a href="{{ site_url("problems/edit/plain/1/#{problem.id}") }}"><span class="glyphicon glyphicon-edit"></span> Edit Plain HTML</a></span>
					{% endif %}

					{% if problem.has_pdf %}
						<span class="title_menu_item" style="padding-left: 15px;"><a href="{{ site_url("problems/pdf/1/#{problem.id}") }}"><span class="glyphicon glyphicon-file"></span> PDF</a></span>
					{% endif %}

					{% if problem.has_template %}
						<span class="title_menu_item"><a href="{{ site_url("problems/template/1/#{problem.id}") }}"><span class="glyphicon glyphicon-download"></span> Download the code template</a></span>
					{% endif %}

					<div class="problem_description">
						{{ problem.description|raw }}
					</div>
				</div>
	  		</div>

			{{ form_open_multipart('submit') }}
		  	<input type="hidden" name="problem" value="{{ problem.id }}"/>
		  	<input type="hidden" name="time_competition" id="time_competition" value="{{ problem.time_competition }}"/>
		  	<input type="hidden" name="check_com" id="check_com"/>
	  		<div class="col-md-6">
	  			<div class="row baitap-background">

		  			<div class="col-md-offset-1">
						<div class="form-group">
							<select id="language" name ="language" class="selectpicker show-tick" title="Language" data-width="100px">
								{% for l in problem.allowed_languages %}
									<option selected="selected" value="{{ l }}">{{ l }}</option>
								{% endfor %}
							</select>
							<textarea  style="display:none;" rows="4" cols="80" name="code" class="sharif_input add_text">
							</textarea>
							<select id="theme" class="selectpicker show-tick" title="Themes" data-width="100px">
								<option value="ambiance">ambiance</option>
								<option value="chaos">chaos</option>
								<option value="chrome">chrome</option>
								<option value="clouds">clouds</option>
								<option value="clouds_midnight">clouds_midnight</option>
								<option value="cobalt">cobalt</option>
								<option value="crimson_editor">crimson_editor</option>
								<option value="dawn">dawn</option>
								<option value="dreamweaver">dreamweaver</option>
								<option value="eclipse">eclipse</option>
								<option value="github">github</option>
								<option value="idle_fingers">idle_fingers</option>
								<option value="iplastic">iplastic</option>
								<option value="katzenmilch">katzenmilch</option>
								<option value="kr_theme">kr_theme</option>
								<option value="kuroir">kuroir</option>
								<option value="merbivore">merbivore</option>
								<option value="merbivore_soft">merbivore_soft</option>
								<option value="mono_industrial">mono_industrial</option>
								<option value="monokai">monokai</option>
								<option value="pastel_on_dark">pastel_on_dark</option>
								<option value="solarized_dark">solarized_dark</option>
								<option value="solarized_light">solarized_light</option>
								<option value="sqlserver">sqlserver</option>
								<option value="terminal">terminal</option>
								<option value="textmate">textmate</option>
								<option value="tomorrow">tomorrow</option>
								<option value="tomorrow_night">tomorrow_night</option>
								<option value="tomorrow_night_blue">tomorrow_night_blue</option>
								<option value="tomorrow_night_bright">tomorrow_night_bright</option>
								<option value="tomorrow_night_eighties">tomorrow_night_eighties</option>
								<option value="twilight">twilight</option>
								<option value="vibrant_ink">vibrant_ink</option>
							</select>
						</div>
					</div>
		  			<div class="font-size15" id="editor" name="code"></div>

					<div class="row">
						<div class="col-md-offset-1 col-md-3 padding-editor">
							<a title="Add Custom test" class="add_test" data-title="Ad" data-toggle="modal" data-target="#add-test"><span class="glyphicon glyphicon-plus custom-font"></span>Add Custom Test</a> 
						</div>
	                	<div class="col-md-offset-1 col-lg-2 col-md-2 col-12">
				            <label class="btn btn-block btn-primary">
				                Browse&hellip; <input type="file" name="userfile" style="display: none;">
				            </label>
				        </div>
						<div class="col-md-offset-1 col-md-2">
							<button type="submit" class="btn btn-success "><span class="glyphicon glyphicon-ok-sign"></span> Submit</button>
						</div>
					</div>
				</div>
	  		</div>
	  		</form>
	  	</div>
	</div>
	<script src="{{ base_url('assets/js/src-min-noconflict/ace.js') }}" type="text/javascript" charset="utf-8"></script>
	<script  type="text/javascript" src="{{ base_url('assets/js/submit_page.js')   }}" charset="utf-8"></script>



	{{ form_open_multipart('testcase','id="testcase"') }}
		<input type="hidden" id="problemid" name="problemid" value="{{ problem.id }}"/>
		<div class="modal fade" id="add-test" tabindex="-1" role="dialog" aria-labelledby="add" aria-hidden="true">
	      	<div class="modal-dialog">
	    		<div class="modal-content">
	          		<div class="modal-header header-br">
	        			<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
	        			<h4 class="modal-title custom_align" id="Heading"> Add Customtest</h4>
	      			</div>
		          	<div class="modal-body">
						<div class="form-group">
				            <label for="message-text" class="control-label">Input:</label>
				            <textarea class="form-control" name="input_testcase" id="input_testcase"></textarea>
				        </div>
	      			</div>
	      			<div class="modal-body">
						<div class="form-group">
				            <label for="message-text" class="control-label">Output:</label>
				            <textarea class="form-control" id="output" style="height: 150px"></textarea>
				        </div>
	      			</div>
		          	<div class="modal-footer ">
	    				<button type="submit" class="btn btn-success" id="submit"><span class="glyphicon glyphicon-ok-sign"></span> SUBMIT</button>

	    				<button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> CLOSE</button>
		      		</div>
	       	 	</div>
	  		</div>
	  	</div>
  	</form>
	<script type="text/javascript">
		$("#check_com").val(location.search.split("=")[1]);
		shj.check_drawn_time = $("#time_competition").val();
	</script>
</body>
</html>