<!DOCTYPE html>
<html>
<head>
	<meta content="text/html" charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	
	<link rel="stylesheet" href="{{ base_url('assets/css/bootstrap.css') }}">
	<link rel="stylesheet" href="{{ base_url('assets/css/bootstrap-theme.min.css') }}">
	<link rel="stylesheet" href="{{ base_url('assets/css/style.css') }}">

	
	<link rel="icon" href="{{ base_url('assets/images/favicon.ico') }}"/>
	<link rel="stylesheet" type='text/css' href="{{ base_url('assets/styles/main.css') }}"/>
	<script type="text/javascript" src="{{ base_url('assets/js/jquery-1.10.2.min.js') }}"></script>
	<!-- You can use google's cdn for loading jquery: -->
	<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> -->
	<script type="text/javascript" src="{{ base_url('assets/js/jquery-ui-1.10.3.custom.min.js') }}"></script>
	<link rel="stylesheet" href="{{ base_url('assets/styles/flick/jquery-ui-1.10.3.custom.min.css') }}"/>
	<script type="text/javascript" src="{{ base_url('assets/js/moment.min.js') }}"></script>
	<script type="text/javascript" src="{{ base_url('assets/js/jquery.hoverIntent.minified.js') }}"></script>
	<script type="text/javascript" src="{{ base_url('assets/js/jquery.cookie.js') }}"></script>
	<script type="text/javascript" src="{{ base_url('assets/js/jquery.ba-resize.min.js') }}"></script>

	<script type="text/javascript" src="{{ base_url('assets/noty/jquery.noty.js') }}"></script>
	<script type="text/javascript" src="{{ base_url('assets/noty/layouts/center.js') }}"></script>
	<script type="text/javascript" src="{{ base_url('assets/noty/layouts/bottomRight.js') }}"></script>
	<script type="text/javascript" src="{{ base_url('assets/noty/themes/default.js') }}"></script>

	<link rel='stylesheet' type='text/css' href='{{ base_url('assets/nano_scroller/nanoscroller.css') }}'/>
	<script type='text/javascript' src="{{ base_url('assets/nano_scroller/jquery.nanoscroller.min.js') }}"></script>

	<link rel='stylesheet' type='text/css' href='{{ base_url('assets/font/font-awesome/css/font-awesome.min.css') }}'/>
	
</head>
<body>
	{% include 'templates/top_bar.twig' %}
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-1">
				<div class="compete"></div>
				<div class="trangthai align-center">
					<h2>Đấu đơn</h2>
				</div>    
			</div>
			<div class="col-md-4 col-md-offset-2">
				<div class="compete"></div>
				<div class="trangthai align-center">
					<h2>Đấu nhóm</h2>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<h2>Top 10</h2>
			<table class="table table-hover table-striped">
				<thead>
					<tr>
						<th>Xếp hạng</th>
						<th>Lớp</th>
						<th>Họ Tên</th>
						<th>Tổng điểm</th>
						<th>Status</th>
						<th>Tỉ lệ Win</th>
					</tr>
				</thead>

				<tbody>
					<tr>
						<td>1</td>
						<td>KHMT2015</td>
						<td>An Nam</td>
						<td>200</td>
						<td>Online</td>
						<td>55%</td>
					</tr>
					<tr>
						<td>2</td>
						<td>KHMT2014</td>
						<td>The Bao</td>
						<td>150</td>
						<td>Off</td>
						<td>45%</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<h2>Bài tập</h2>
			<table class="table table-hover table-striped">
				<thead>
					<tr>
						<th>Tên</th>
						<th>Thời gian bắt đầu</th>
						<th>Thời gian làm bài</th>
						<th>Status</th>
						<th>Điểm cộng</th>
						<th>Nhóm điểm cao nhất</th>
					</tr>
				</thead>

				<tbody>
					<tr>
						<td>Sum 2</td>
						<td>20/05</td>
						<td>1h30p</td>
						<td>Open</td>
						<td>50</td>
						<td>HTK</td>
					</tr>
					<tr>
						<td>Tim Min</td>
						<td>25/05</td>
						<td>1h</td>
						<td>End</td>
						<td>10</td>
						<td>MVC</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<script type="text/javascript" src="<?php echo base_url('assets/js/jquery-3.2.1.min.js'); ?>"></script>
	<script type="text/javascript" src="<?php echo base_url('assets/js/bootstrap.min.js'); ?>"></script>
</body>
</html>