<!DOCTYPE html>
<html>
<head>
      <link rel="stylesheet" href="{{ base_url('assets/css/bootstrap.css') }}">
      <link rel="stylesheet" href="{{ base_url('assets/css/bootstrap.min.css') }}">
      <link rel="stylesheet" href="{{ base_url('assets/css/bootstrap-theme.min.css') }}">
      <link rel='stylesheet' type='text/css' href='{{ base_url('assets/gridster/jquery.gridster.css') }}'/>
      <link rel='stylesheet' type='text/css' href='{{ base_url('assets/fullcalendar/fullcalendar.css') }}'/>
     
      <script type="text/javascript" src="{{ base_url('assets/js/jquery-3.2.1.min.js') }}"></script>
      <script type='text/javascript' src="{{ base_url('assets/fullcalendar/fullcalendar.min.js') }}"></script>
      <script type='text/javascript' src="{{ base_url('assets/gridster/jquery.gridster.min.js') }}"></script>
      <script type='text/javascript' src="{{ base_url('assets/js/jquery.autoellipsis-1.0.10.min.js') }}"></script>
      <script>
      $(document).ready(function () {
        $('#calendar').fullCalendar({
          timeFormat: 'HH:mm { - HH:mm}',
          editable: false,
          height: 280,
          firstDay: {{ week_start }},
          events: [
            {% set colors = ['#812C8C','#FF750D','#2C578C','#013440','#A6222C','#42758C','#02A300','#BA6900'] %}
            {% for assignment in all_assignments %}
              {id:{{ assignment.id }},title:'{{ assignment.name|e('js') }}', start:'{{ assignment.start_time }}', end:' {{ assignment.finish_time }}',
              allDay:false,color:'{{ colors[(loop.index0)%colors|length] }}'}
            {% if not loop.last %},{% endif %}
            {% endfor %}
          ]
        });
        var gridster = $(".gridster ul").gridster({
          widget_margins: [10, 10],
          widget_base_dimensions: [350, 350],
          serialize_params: function ($w, wgd) {
            return {
              r: wgd.row,
              c: wgd.col,
              x: wgd.size_x,
              y: wgd.size_y
            }
          },
          draggable: {
            handle: '.widget_title',
            stop: function (event, ui) { // send widget positions to server for saving in database
              var positions = JSON.stringify(gridster.serialize());
              $.post(
                "{{ site_url('dashboard/widget_positions') }}",
                {
                  positions: positions,
                  shj_csrf_token: shj.csrf_token
                }
              );
            }
          }
        }).data('gridster');
        $('.notif_text').ellipsis();
      });
      </script>
      <script type="text/javascript" src="{{ base_url('assets/js/bootstrap.min.js') }}"></script>
</head>
<body>
      {% include 'templates/bar.twig' %}

      <div class="container" style="padding-top: 70px;">
        <div class="row">
          {% for error in errors %}
            <p class="shj_error">{{ error|raw }}</p>
          {% endfor %}
          <div style="height: 15px;"></div>
          <div class="gridster">
            <?php $i = 0; ?>
            <ul>
              <li data-row="{{ wp[0] ? wp[0]['r'] : '1' }}" data-col="{{ wp[0] ? wp[0]['c'] : '1' }}" data-sizex="{{ wp[0] ? wp[0]['x'] : '1' }}" data-sizey="{{ wp[0] ? wp[0]['y'] : '1' }}">
                <div class="shj_widget">
                  <div class="widget_title"><span class="glyphicon glyphicon-calendar"></span> Calendar</div>
                  <div class="widget_scrollable scroll-wrapper">
                    <div class="scroll-content">
                      <div class="widget_contents_container" id='calendar'></div>
                    </div>
                  </div>
                </div>
              </li>

              <li data-row="{{ wp[1] ? wp[1]['r'] : '1' }}" data-col="{{ wp[1] ? wp[1]['c'] : '2' }}"
                  data-sizex="{{ wp[1] ? wp[1]['x'] : '1' }}" data-sizey="{{ wp[1] ? wp[1]['y'] : '1' }}">
                <div class="shj_widget">
                  <div class="widget_title"><span class='glyphicon glyphicon-bell'></span>
                    Latest Notifications
                    {% if user.level >= 2 %}
                      <a title="New Notification" href="{{ site_url('notifications/add') }}" class="pull-right">
                        <i class="fa fa-plus color11"></i>
                      </a>
                    {% endif %}
                  </div>
                  <div class="widget_scrollable scroll-wrapper">
                    <div class="scroll-content">
                      <div class="widget_contents_container">
                        {% if notifications|length == 0 %}
                          <p style="text-align: center;">Nothing yet...</p>
                        {% endif %}
                        {% for notification in notifications %}
                          <div class="notif" id="number{{ notification.id }}" data-id="{{ notification.id }}">
                            <div class="notif_title" dir="auto">
                              <span class="anchor ttl_n">{{ notification.title }}</span>
                              <span class="notif_meta" dir="ltr">
                              {{ notification.time }}
                                {% if user.level >= 2 %}
                                  <span class="glyphicon glyphicon-edit edt_n">Edit</span>
                                  <span class="glyphicon glyphicon-trash del_n">Delete</span>
                                {% endif %}
                              </span>
                            </div>
                            <div class="notif_text latest" dir="auto">{{ notification.text }}</div>
                          </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
              </li>

              <li data-row="{{ wp[2] ? wp[2]['r'] : '2' }}" data-col="{{ wp[2] ? wp[2]['c'] : '1' }}" data-sizex="{{ wp[2] ? wp[2]['x'] : '1' }}" data-sizey="{{ wp[2] ? wp[2]['y'] : '1' }}">
              </li>
            </ul>
          </div>
        </div>
      </div>
</body>
</html>