{#
 # Sharif Judge
 # file: notifications.twig
 # author: Mohammad Javad Naderi <mjnaderi@gmail.com>
 #}
{% set selected = 'notifications' %}
{% extends 'templates/base.twig' %}
{% block icon %}fas fa-bell{% endblock %}
{% block title %}Notifications{% endblock %}
{% block head_title %}Notifications{% endblock %}



{% block title_menu %}
	{% if user.level >= 2 %}
	<span class="title_menu_item"><a href="{{ site_url('notifications/add') }}"><i class="fa fa-plus color10"></i> New</a></span>
	{% endif %}
{% endblock %}

{% block body_end %}
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
});
</script>
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
<div class="modal fade" id="notification_delete" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Are you sure you want to delete this notification?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
	  <div class="modal-footer">
        <button type="button" class="btn btn-danger confirm-notifycation-delete">yes, DELETE it</button>
		<button type="button" class="btn btn-primary" data-dismiss="modal">NO, DON'T delete</button>
      </div>
    </div>
  </div>
</div>

<script>
/**
 * Notifications
 */
$(document).ready(function () {
	$('.del_n').click(function () {
		var notif = $(this).parents('.notif');
		var id = $(notif).data('id');

		$(".confirm-notifycation-delete").off();
		$(".confirm-notifycation-delete").click(function(){
			$.ajax({
				type: 'POST',
				url: shj.site_url + 'notifications/delete',
				data: {
					id: id,
					wcj_csrf_name: shj.csrf_token
				},
				error: shj.loading_error,
				success: function (response) {
					if (response.done) {
						notif.animate({backgroundColor: '#FF7676'}, 1000, function () {
							notif.remove();
						});
						$.notify('Notification deleted'	, {position: 'bottom right', className: 'success', autoHideDelay: 5900});
					}
					else
						shj.loading_failed(response.message);
				}
			});
		});
		$("#notification_delete").modal("show");
	});


});

</script>
{% endblock %}

{% block main_content %}
{% if notifications|length == 0 %}
<p style="text-align: center;">Nothing yet...</p>
{% endif %}
{% for notification in notifications %}
	<div class="col-md-6 col-xl-4">
		<div class="notif" id="number{{ notification.id }}" data-id="{{ notification.id }}">
			<div class="notif_title">
				<a href="notifications#number{{ notification.id }}">{{ notification.title }}</a>
				<div class="notif_meta">
					{{ notification.time }}
					{% if user.level >= 2 %}
						<a href="notifications/edit/{{ notification.id }}">Edit</a>
						<span class="pointer del_n">Delete</span>
					{% endif %}
				</div>
			</div>
			<div class="notif_text">
				{{ notification.text|raw }}
			</div>
		</div>
	</div>
{% endfor %}
{% endblock %}  {# main_content #}
