{#
 # Sharif Judge
 # file: notifications.twig
 # author: Mohammad Javad Naderi <mjnaderi@gmail.com>
 #}
{% set selected = 'notifications' %}
{% extends 'templates/base.twig' %}
{% block icon %}fa-bell{% endblock %}
{% block title %}Notifications{% endblock %}
{% block head_title %}Notifications{% endblock %}



{% block title_menu %}
	{% if user.level >= 2 %}
	<span class="title_menu_item"><a href="{{ site_url('notifications/add') }}"><i class="fa fa-plus color10"></i> New</a></span>
	{% endif %}
{% endblock %}



{% block main_content %}
{% if notifications|length == 0 %}
<p style="text-align: center;">Nothing yet...</p>
{% endif %}
{% for notification in notifications %}
	<div class="notif" id="number{{ notification.id }}" data-id="{{ notification.id }}">
		<div class="notif_title" dir="auto">
			<span class="anchor ttl_n">{{ notification.title }}</span>
			<div class="notif_meta">
				{{ notification.time }}
				{% if user.level >= 2 %}
					<span class="anchor edt_n">Edit</span>
					<span class="anchor del_n">Delete</span>
				{% endif %}
			</div>
		</div>
		<div class="notif_text" dir="auto">
			{{ notification.text|raw }}
		</div>
	</div>
{% endfor %}
{% endblock %}  {# main_content #}
{% block body_end %}
<div class="modal fade" id="notification_delete" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Are you sure you want to delete this notification?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
	  <div class="modal-footer">
        <button type="button" class="btn btn-danger confirm-notifycation-delete">yes, DELETE it</button>
		<button type="button" class="btn btn-primary" data-dismiss="modal">NO, DON'T delete</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
