{#
 # Sharif Judge
 # file: problems.twig
 # author: Kelvin Ng <kelvin9302104@gmail.com>
 #}
{% set selected = 'problems' %}
{% extends 'templates/base.twig' %}
{% block icon %}fa-puzzle-piece{% endblock %}
{% block title %}{{ all_problems[problem.id].name }}{% endblock %}
{% block head_title %}Problem {{ problem.id }}{% endblock %}

{% block other_assets %}
<style media="screen">
.sharif_table td{
	text-align: left;
}
</style>
{% endblock %}

{% block title_menu %}

{% if problem.has_pdf %}
	<span class="title_menu_item"><a href="{{ site_url("assignments/pdf/#{description_assignment.id}/#{problem.id}") }}"><i class="fa fa-file-pdf-o color1"></i> PDF</a></span>
{% endif %}
{% if problem.has_template %}
	<span class="title_menu_item"><a href="{{ site_url("problems/template/#{description_assignment.id}/#{problem.id}") }}"><i class="fa fa-download color1"></i> Download the code template</a></span>
{% endif %}

{% if user.level >= 2 %}
	<span class="title_menu_item float-right"><a href="#" class="btn btn-secondary save-button"><i class="fa fa-floppy-o "></i> Save</a></span>
{% endif %}

{% endblock %}

{% block body_end %}
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
});
</script>
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
<script src="{{ base_url('assets/ckeditor/ckeditor.js') }}" charset="utf-8"></script>
<script type="text/javascript">
$(document).ready(function(){
	$('.save-button').click(function(){
		$.ajax({
			type: 'POST',
			url: "{{ site_url("problems/edit/plain/#{description_assignment.id}/#{problem.id}") }}",
			data: {
				wcj_csrf_name: shj.csrf_token,
				text : CKEDITOR.instances.problem_description.getData()
			},
			success: function (response) {
				$.notify('Change sucessfully saved'
					, {position: 'bottom right', className: 'success', autoHideDelay: 3500});
				$('.save-button').removeClass('btn-primary').addClass('btn-secondary');
				//$.notify()
			},
			error: function(response){
				$.notify('Error while saving'
					, {position: 'bottom right', className: 'error', autoHideDelay: 3500});
				alert('There was problem saving change. You can backup by pressing "Source" button and copy the content out');
			}
		});
	});
	CKEDITOR.on('instanceReady', function(){
		CKEDITOR.instances.problem_description.on('change', function(){
			$('.save-button').removeClass('btn-secondary').addClass('btn-primary');
		});
	});
});
</script>
{% endblock %}

{% block main_content %}
{% if error != 'none' %}
<p> {{error}} </p>
{% else %}

	<div class="col-md-7 col-lg-8 col-sm-12">

		<div class="problem_description" id="problem_description" {% if user.level >= 2 %} contenteditable="true" {% endif %} >
			{{ problem.description|raw }}
		</div>
	</div>

	<div class="col-md-5 col-lg-4 ">
		<div class="problems_widget row">
			<p dir="auto"><i class="fa fa-file-text fa-lg color9"></i> {{ description_assignment.name }}</p>

			{% if all_problems|length == 0 %}
				<p style="text-align: center;">Nothing to show...</p>
			{% endif %}

			<table class="sharif_table">
				<thead>
				<tr>
					<th>#</th>
					<th>Problem</th>
					<th>Score</th>
					<th><i class="fa fa-upload fa-fw"></i>Only</th>
				</tr>
				</thead>
				{% for one_problem in all_problems %}
					<tr{{ problem.id == one_problem.id ? ' class="hl"' }}>
						<td>{{ one_problem.id }}</td>
						<td>
							<a dir="auto" href="{{ site_url("problems/#{description_assignment.id}/#{one_problem.id}") }}">{{ one_problem.name }}</a>
						</td>
						<td>{{ one_problem.score }}</td>
						<td>{{ one_problem.is_upload_only ? 'Yes' : 'No' }}</td>
					</tr>
				{% endfor %}
			</table>
		</div>

		{% if can_submit %}
		<div class="problems_widget ">

			<span><i class="fa fa-upload fa-lg color11"></i> Submit</span>
			{{ form_open_multipart('submit') }}
			<input type="hidden" name="problem" value="{{ problem.id }}"/>
			<fieldset class="form-group form-row">
				<label>
					Select language
				</label>

				<select id="languages" name="language" class="form-control custom-select">

					{% for l in problem.allowed_languages %}
						<option value="{{ l }}">{{ l }}</option>
					{% endfor %}
				</select>
			</fieldset>

			<fieldset class="form-group form-row">
				<label class="col-12">
					<input type="file" id="file" class="form-control custom-file-input" name="userfile"/>
					<span class="custom-file-control form-control"></span>
				</label>			
			</fieldset>

			<fieldset class="form-group form-row">
				<input type="submit" value="Submit" class="form-control"/>
			</fieldset>
			</form>

		</div>
		<div class="problems_widget row">
			<span class=""><a href="{{ site_url("submit/") }}" target="_blank"><i class="fa fa-pencil-square-o"></i> Code editor</a></span>
		</div>
		{% endif %}

	</div>
{% endif %}
{% endblock %}  {# main_content #}
