{#
 # Sharif Judge
 # file: problems.twig
 # author: Kelvin Ng <kelvin9302104@gmail.com>
 #}
{% set selected = 'problems' %}
{% extends 'templates/base.twig' %}
{% block icon %}fa-puzzle-piece{% endblock %}
{% block title %}{{ all_problems[problem.id].name }}{% endblock %}
{% block head_title %}Problem {{ problem.id }}{% endblock %}

{% block other_assets %}
<style media="screen">
.sharif_table td{
	text-align: left;
}
</style>
{% endblock %}

{% block title_menu %}


{# {% if user.level >= 2 %}
	<span class="title_menu_item"><a href="{{ site_url("problems/edit/md/#{description_assignment.id}/#{problem.id}") }}"><i class="fa fa-pencil color2"></i> Edit Markdown</a></span>
	<span class="title_menu_item"><a href="{{ site_url("problems/edit/html/#{description_assignment.id}/#{problem.id}") }}"><i class="fa fa-pencil color10"></i> Edit HTML</a></span>
	<span class="title_menu_item"><a href="{{ site_url("problems/edit/plain/#{description_assignment.id}/#{problem.id}") }}"><i class="fa fa-pencil color8"></i> Edit Plain HTML</a></span>
{% endif %}
#}

{% if problem.has_pdf %}
	<span class="title_menu_item"><a href="{{ site_url("assignments/pdf/#{description_assignment.id}/#{problem.id}") }}"><i class="fa fa-file-pdf-o color1"></i> PDF</a></span>
{% endif %}
{% if problem.has_template %}
	<span class="title_menu_item"><a href="{{ site_url("problems/template/#{description_assignment.id}/#{problem.id}") }}"><i class="fa fa-download color1"></i> Download the code template</a></span>
{% endif %}

{% if user.level >= 2 %}
	<span class="title_menu_item float-right"><h3><a href="#" class="btn btn-secondary save-button"><i class="fa fa-floppy-o "></i> Save</a></h3></span>
{% endif %}

{% endblock %}

{% block body_end %}
<script src="{{ base_url('assets/ckeditor/ckeditor.js') }}" charset="utf-8"></script>
<script type="text/javascript">
$(document).ready(function(){
	$('.save-button').click(function(){
		$.ajax({
			type: 'POST',
			url: "{{ site_url("problems/edit/plain/#{description_assignment.id}/#{problem.id}") }}",
			data: {
				wcj_csrf_name: shj.csrf_token,
				text : CKEDITOR.instances.problem_description.getData()
			},
			success: function (response) {
				console.log("saved");
				$('.save-button').removeClass('btn-primary').addClass('btn-secondary');
				//$.notify()
			},
			error: function(response){
				console.log(response);
				alert('There was problem saving change. You can backup by pressing "Source" button and copy the content out');
			}
		});
	});
	CKEDITOR.instances.problem_description.on('change', function(){
		$('.save-button').removeClass('btn-secondary').addClass('btn-primary');
	});
});
</script>
{% endblock %}

{% block main_content %}
{% if error != 'none' %}
<p> {{error}} </p>
{% else %}

	<div class="problem_description" id="problem_description" {% if user.level >= 2 %} contenteditable="true" {% endif %} >
		{{ problem.description|raw }}
	</div>

	<div id="right_sidebar">

		<div class="problems_widget">
			<p dir="auto"><i class="fa fa-file-text fa-lg color9"></i> {{ description_assignment.name }}</p>

			{% if all_problems|length == 0 %}
				<p style="text-align: center;">Nothing to show...</p>
			{% endif %}

			<table class="sharif_table">
				<thead>
				<tr>
					<th rowspan="2">#</th>
					<th rowspan="2">Problem</th>
					<th rowspan="2">Score</th>
					<th rowspan="2">Upload<br>Only</th>
				</tr>
				</thead>
				{% for one_problem in all_problems %}
					<tr{{ problem.id == one_problem.id ? ' class="hl"' }}>
						<td>{{ one_problem.id }}</td>
						<td>
							<a dir="auto" href="{{ site_url("problems/#{description_assignment.id}/#{one_problem.id}") }}">{{ one_problem.name }}</a>
						</td>
						<td>{{ one_problem.score }}</td>
						<td>{{ one_problem.is_upload_only ? 'Yes' : 'No' }}</td>
					</tr>
				{% endfor %}
			</table>
		</div>

		{% if can_submit %}
		<div class="problems_widget">
			<p><i class="fa fa-upload fa-lg color11"></i> Submit</p>
			{{ form_open_multipart('submit') }}
			<input type="hidden" name="problem" value="{{ problem.id }}"/>

			<p class="input_p">
				<label>
					Select language
				</label>
				<br/>
				<select id="languages" name="language" class="sharif_input full-width">

					{% for l in problem.allowed_languages %}
						<option value="{{ l }}">{{ l }}</option>
					{% endfor %}
				</select>
			</p>
			<p class="input_p">
				<input type="file" id="file" class="sharif_input full-width" name="userfile"/>
			</p>
			<p class="input_p">
				<input type="submit" value="Submit" class="sharif_input"/>
			</p>
			</form>

		</div>
		<div class="problems_widget">
			<span class="title_menu_item"><a href="{{ site_url("submit/") }}" target="_blank"><i class="fa fa-pencil-square-o"></i> Code editor</a></span>
		</div>
		{% endif %}

	</div>
{% endif %}
{% endblock %}  {# main_content #}
