{#
 # Sharif Judge
 # file: scoreboard.twig
 # author: Mohammad Javad Naderi <mjnaderi@gmail.com>
 #}
{% set selected = 'scoreboard' %}
{% extends 'templates/base.twig' %}
{% block icon %}fas fa-star{% endblock %}
{% block title %}Scoreboard{% endblock %}
{% block head_title %}Scoreboard{% endblock %}

{% block title_menu %}
<small>
<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link {% if place=="full" %}active{% endif %} " href="{{ site_url('scoreboard/full/'~assignment.id) }}">
	<i class="fas fa-star color10"></i> Full information </a>
  </li>
  <li class="nav-item  ">
    <a class="nav-link {% if place=="simplify" %}active{% endif %}" href="{{ site_url('scoreboard/simplify/'~assignment.id) }}">
	<i class="fas fa-star-half-alt color10"></i> Minimal information </a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if place=="plain" %}active{% endif %} " href="{{ site_url('scoreboard/plain/'~assignment.id) }}">
	<i class="fas fa-star-half-alt color10"></i> Plain text Minimal </a>
  </li>
</ul>
</small>

<span class="title_menu_item">
	
</span>
<span class="title_menu_item">
	
</span>
{% endblock %} {# title_menu #}


{% block main_content %}
<div class="col">
{% if assignment.id == 0 %}
<p>No assignment is selected.</p>
{% elseif not assignment.scoreboard and user.level < 2%}
<p>Scoreboard is disabled.</p>
{% else %}
	<p>Scoreboard of <span>{{ assignment.name }}</span></p>
	{{ scoreboard|raw }}
{% endif %}
</div>
{% endblock %} {# main_content #}
