<!DOCTYPE html>
<html>
<head>
	<meta content="text/html" charset="UTF-8">
	<link rel="stylesheet" href="{{ base_url('assets/css/bootstrap.css') }}">
	<link rel="stylesheet" href="{{ base_url('assets/css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ base_url('assets/css/bootstrap-theme.min.css') }}">
	<link rel="stylesheet" href="{{ base_url('assets/css/dataTables.bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ base_url('assets/css/style.css') }}">

	<link rel='stylesheet' href='{{ base_url("assets/snippet/themes/github.css") }}'/>
	<link rel='stylesheet' href='{{ base_url("assets/snippet/jquery.snippet.css") }}'/>
	<link rel='stylesheet' type='text/css' href='{{ base_url("assets/reveal/reveal.css") }}'/>


	<script type="text/javascript" src="{{ base_url('assets/js/jquery-3.2.1.min.js') }}"></script>


</head>
<body>
	{% include 'templates/bar.twig' %}
	<div class="container" style="padding-top: 70px">
{# 		<span class="title_menu_item">
			<a href="{{ excel_link }}"><span class="glyphicon glyphicon-download-alt"></span> Excel</a>
		</span> #}
		{% if filter_user %}
		<span class="title_menu_item" style="padding-left: 15px">
			<a href="{{ site_url('submissions/'~view~(filter_problem ? '/problem/'~filter_problem)) }}">
			<span class="glyphicon glyphicon-remove"></span> Remove Username Filter</a>
		</span>
		{% endif %}
		{% if filter_problem %}
		<span class="title_menu_item" style="padding-left: 15px">
			<a href="{{ site_url('submissions/'~view~(filter_user?'/user/'~filter_user)) }}">
			<span class="glyphicon glyphicon-remove"></span> Remove Problem Filter</a>
		</span>
		{% endif %}
	</div>
    <div class="container" style="padding-top: 20px">
		<div class="row">

			<table class="table table-hover table-striped datasub">
				<thead>
					<tr>
					{% if view == 'all' %}
						<th>Final</th>
					{% endif %}
					{% if user.level > 0 %}
							{% if view == 'all' %}
							<th>ID</th>
							{% else %}
							<th>#</th>
							<th>ID</th>
							{% endif %}
							<th>Username</th>
							<th>Problem</th>
							<th>Submit Time</th>
							<th class="score">Score</th>
							<th class="score">Delay<br>%</th>
							<th class="score">Final Score</th>
							<th>Language</th>
							<th>Status</th>
							<th>Code</th>
							<th>Log</th>
							{% if user.level >= 2 %}
							<th>Actions</th>
							{% endif %}
						</tr>
					{% else %}
							<th>Problem</th>
							<th>Submit Time</th>
							<th class="score">Score</th>
							<th class="score">Delay<br>%</th>
							<th class="score">Final Score</th>
							<th>Language</th>
							<th>Status</th>
							<th>Code</th>
						</tr>
					{% endif %}
				</thead>
				{% set i=0 %}
				{% set j=0 %}
				{% set un='' %}
				{% for submission in submissions %}
					{% set i = i+1 %}
					{% if submission.username != un %}
						{% set j = j+1 %}
					{% endif %}
					{% set un = submission.username %}
					<tr data-u="{{ submission.username }}" data-a="{{ submission.assignment }}" data-p="{{ submission.problem }}" data-s="{{ submission.submit_id }}" {% if view == 'final' and j is even %}class="hl"{% endif %}>
					{% if view == 'all' %}
						<td>
							<i class="pointer set_final fa {{ submission.is_final ? 'fa-check-circle-o color11' : 'fa-circle-o' }} fa-2x"></i>
						</td>
					{% endif %}
					{% if user.level > 0 %}
						{% if view == 'all' %}
							<td>{{ submission.submit_id }}</td>
						{% else %}
							<td>{{ (page_number-1)*per_page+i }}</td>
							<td>{{ submission.submit_id }}</td>
						{% endif %}

						<td><a href="{{ site_url('submissions/'~view~'/user/'~submission.username~(filter_problem?'/problem/'~filter_problem)) }}">{{ submission.username }}</a></td>
					{% endif %}
						<td><a href="{{ site_url('submissions/'~view~(filter_user?'/user/'~filter_user)~'/problem/'~submission.problem) }}" title="{{ problems[submission.problem].name }}">{{ submission.problem }}</a>
							(<a href="{{ site_url('problems/' ~ submission.assignment ~ '/'~ submission.problem ) }}" title="View problem {{submission.problem}}'s statements">&larr;</a>)
						</td>
						<td>{{ submission.time }}</td>
						<td>{{ submission.pre_score }}</td>
						<td>
							<span class="tiny_text" {{ submission.delay > 0 ? 'style="color:red;"' }}>
							{% if submission.delay <= 0 %}
								No Delay
							{% else %}
								<span title="HH:MM">{{ time_hhmm(submission.delay) }}</span>
							{% endif %}
							</span><br>
							{{ submission.coefficient }}%
						</td>
						<td style="font-weight: bold;">{{ submission.final_score }} </td>
						<td>{{ submission.language }}</td>
						<td class="status">
							{% if submission.status == 'Uploaded' %}
								Uploaded
							{% else %}
								{% if submission.status|lower == 'pending' %}
									{% set submission_class = 'btn btn-default pending' %}
								{% elseif submission.status|lower == 'score' %}
									{% set submission_class = (submission.problem_score == submission.pre_score ? 'btn btn-success' : 'btn btn-danger') %}
								{% else %}
									{% set submission_class = 'btn btn-warning' %}
								{% endif %}
								<div class="{{ submission_class }}" style="white-space: normal; width: 120px;" data-type="result" >
									{% if submission.status == 'SCORE' %}
										{{ submission.final_score }}
									{% else %}
										{{ submission.status }}
									{% endif %}
								</div>
							{% endif %}
						</td>
						<td>
							{% if submission.file_type == 'zip' or submission.file_type == 'pdf' %}
								<div class="btn btn-primary" data-type="download">Download</div>
							{% else %}
								<div class="btn btn-primary" data-type="code" >Code</div>
							{% endif %}
						</td>
						{% if user.level > 0 %}
						<td>
							{% if submission.status == 'Uploaded' %}
								---
							{% else %}
								<div class="btn btn-info" data-type="log" >Log</div>
							{% endif %}
						</td>
						{% endif %}
						{% if user.level >= 2 %}
							<td>
								<div class="shj_rejudge pointer"> <span class="glyphicon glyphicon-refresh fa-refresh"></span></div>
							</td>
						{% endif %}
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>



{% block body_end %}
<div id="shj_modal" class="reveal-modal xlarge">
	<div class="modal_inside">
		<div style="text-align: center;">Loading<br><img src="{{ base_url('assets/images/loading.gif') }}"/></div>
	</div>
	<a class="close-reveal-modal">&#215;</a>
</div>
{% endblock %}
	<script type='text/javascript' src="{{ base_url("assets/js/shj_submissions.js") }}"></script>
	<script type='text/javascript' src="{{ base_url("assets/js/shj_functions.js") }}"></script>
	<script type='text/javascript' src="{{ base_url("assets/reveal/jquery.reveal.js") }}"></script>
	<script type="text/javascript" src="{{ base_url('assets/js/thien_function.js') }}"></script>
	<script type="text/javascript" src="{{ base_url('assets/js/thien_datatable.js') }}"></script>
	<script type="text/javascript" src="{{ base_url('assets/js/jquery.dataTables.min.js') }}"></script>
	<script type='text/javascript' src="{{ base_url("assets/snippet/jquery.snippet.js") }}"></script>
	<script type="text/javascript" src="{{ base_url('assets/js/dataTables.bootstrap.min.js') }}"></script>
	<script type="text/javascript" src="{{ base_url('assets/js/bootstrap.min.js') }}"></script>
</body>
</html>