{#
 # Sharif Judge
 # file: submissions.twig
 # author: Mohammad Javad Naderi <mjnaderi@gmail.com>
 #}
{% set selected=view~'_submissions' %}
{% extends 'templates/base.twig' %}
{% block icon %}fas {{ view == 'all' ? 'fa-bars' : 'fa-map-marker' }}{% endblock %}
{% block title %}{{ view|title }} Submissions{% endblock %}
{% block head_title %}{{ view|title }} Submissions{% endblock %}



{% block other_assets %}
	{# <link rel='stylesheet' type='text/css' href='{{ base_url("assets/snippet/jquery.snippet.css") }}'/>
	<link rel='stylesheet' type='text/css' href='{{ base_url("assets/snippet/themes/github.css") }}'/> #}
	<link rel='stylesheet' type='text/css' href='{{ base_url("assets/prismjs/prism.css") }}'/>
	<link rel='stylesheet' type='text/css' href='https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css'/>
	<style type="text/css">
.status_button{
	white-space: normal;
}
.wcj_log{
	font-size: 0.70em;
}
	</style>
{% endblock %}

{% block body_end %}
<div class="modal fade" id="submission_modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="exampleModalLongTitle">Modal title</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
<div class="text-center">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
      </div>

    </div>
  </div>
</div>

	<script type='text/javascript' src="{{ base_url("assets/prismjs/prism.js") }}"></script>
	<script type='text/javascript' src="{{ base_url("assets/js/shj_submissions.js") }}"></script>
	<script type='text/javascript' src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
	<script type='text/javascript' src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>

	<script type="text/javascript">$("nav  > ul.pagination a").addClass("page-link");</script>
{% endblock %}



{% block title_menu %}
	{# <span class="title_menu_item">
		<a href="{{ excel_link }}"><i class="fa fa-download color2"></i> Excel</a>
	</span> #}
	{% if filter_user %}
	<span class="title_menu_item">
		<a href="{{ site_url('submissions/'~view~'/assignment/'
					~(assignment.id?assignment.id : '0')
					~(filter_problem ? '/problem/'~filter_problem)
				) }}">
		<i class="fa fa-filter color1"></i> Remove Username Filter</a>
	</span>
	{% endif %}
	{% if filter_problem %}
	<span class="title_menu_item">
		<a href="{{ site_url('submissions/'~view~'/assignment/'
						~(assignment.id?assignment.id : '0')
						~(filter_user?'/user/'~filter_user)
					) }}">
		<i class="fa fa-filter color4"></i> Remove Problem Filter</a>
	</span>
	{% endif %}
{% endblock %} {# title_menu #}




{% block main_content %}
<div class="col">
<p>

    <a class="badge badge-pill {{ (view == 'all') ? 'badge-info' : 'badge-secondary' }}" 
		href="{{ site_url('submissions/all/assignment/'
					~(assignment.id?assignment.id : '0')
					~(filter_user?'/user/'~filter_user)
					~(filter_problem?'/problem/'~filter_problem)
				) }}">All</a>
    <a class="badge badge-pill {{ view == 'final' ? 'badge-info' : 'badge-secondary' }}" 
		href="{{ site_url('submissions/final/assignment/'
				~(assignment.id?assignment.id : '0')
				~(filter_user?'/user/'~filter_user)
				~(filter_problem?'/problem/'~filter_problem)
			) }}">Final</a>
Submissions of <kbd> {{ assignment.name }}</kbd></p>
{%  if view == 'all' %}
<p><i class="fa fa-warning color3"></i> You cannot change your final submissions after assignment finishes.</p>
{% endif %}
<table class="wecode_table table table-bordered {% if view == 'all' %}table-striped{% else %}data-table{% endif %}">
	<thead class="thead-dark">
		<tr>
		{% if view == 'all' %}
			<th width="1%" rowspan="1"><small>Final</small></th>
		{% endif %}
					{% if view == 'all' %}
			<th width="2%" rowspan="1"><small>submit ID</small></th>
			{% else %}
			<th width="1%" rowspan="1">#</th>
			<th width="2%" rowspan="1"><small>submit ID</small></th>
			{% endif %}
		{% if user.level > 0 %}
			<th width="5%" rowspan="1"><small>Username</small></th>
			<th width="20%" rowspan="1">Name</th>
			<th width="20%" rowspan="1"><small>Problem</small></th>
			<th width="6%" rowspan="1"><small>Submit Time</small></th>
			{# <th colspan="3">Score</th> #}
			<th width="1%" class="score"><small>Score</small></th>
			<th width="1%" class="score"><small>Delay<br>%</small></th>
			{# <th width="1%" class="score"><small>Final Score</small></th> #}
			
			<th width="1%" rowspan="1"><small>Lang</small></th>
			<th width="6%" rowspan="1">Status</th>
			<th width="6%" rowspan="1">Code</th>
			<th width="6%" rowspan="1">Log</th>
			{% if user.level >= 2 %}
			<th width="1%" rowspan="1" ><small>Re-judge</small></th>
			{% endif %}
		</tr>
		{# <tr>
		</tr> #}
		{% else %}
			<th width="20%" rowspan="1">Problem</th>
			<th width="10%" rowspan="1">Submit Time</th>
			
			<th width="7%" class="score">Score</th>
			<th width="7%" class="score">Delay<br>%</th>
			{# <th width="7%" class="score">Final Score</th> #}
			
			<th width="1%" rowspan="1">Language</th>
			<th width="30%" rowspan="1">Status</th>
			<th width="15%" rowspan="1">Code</th>
		</tr>
		
		{% endif %}
	</thead>
	{% set i=0 %}
	{% set j=0 %}
	{% set un='' %}
	{% for submission in submissions %}
		{% set i = i+1 %}
		{% if submission.username != un %}
			{% set j = j+1 %}
		{% endif %}
		{% set un = submission.username %}
		<tr data-u="{{submission.username}}" data-a="{{ submission.assignment_id }}" data-p="{{ submission.problem_id }}" data-s="{{submission.submit_id}}" {% if view == 'final' and j is even %}class="table-active"{% endif %}>
		{% if view == 'all' %}
			<td>
				<i class="pointer set_final far {{ submission.is_final ? 'fa-check-circle color11' : 'fa-circle' }} fa-2x"></i>
			</td>
		{% endif %}
					{% if view == 'all' %}
				<td><small>{{submission.submit_id}}</small></td>
			{% else %}
				<td>{{ (page_number-1)*per_page+i }}</td>
				<td><small>{{submission.submit_id}}</small></td>
			{% endif %}
		{% if user.level > 0 %}
			<td>
				<a href="{{ site_url('submissions/'~view
									~'/assignment/'~(assignment.id?assignment.id : '0')
									~'/user/'~submission.username
									~(filter_problem?'/problem/'~filter_problem)
								) }}">
						<small>{{submission.username}}</small> <i class="fas fa-filter"></i>
				</a>
			</td>
			<td>{{ submission.name  }}</td>
		{% endif %}
			<td>
				<a href="{{ site_url('view_problem/' ~ submission.assignment_id ~ '/'~ submission.problem_id ) }}" title="View problem {{submission.problem_id}}'s statements">
						<span>{{ assignment.id ?  problems[submission.problem_id].problem_name : "Problem ID: #"~submission.problem_id }}</span>
				</a>
				<br/>
				<a href="{{ site_url('submit/editor/'~submission.problem_id
							~'/'~(assignment.id?assignment.id : '0')) 
						}}" ><span class="btn btn-warning btn-sm"><i class="fas fa-code"></i></span></a>
				<a href="{{ site_url('submissions/'~view
							~'/assignment/'~(assignment.id?assignment.id : '0')
							~(filter_user?'/user/'~filter_user)
							~'/problem/'~submission.problem_id) 
						}}" ><span class="btn btn-info btn-sm"><i class="fas fa-filter"></i></span></a>
			</td>
			<td><small>{{ submission.time }}</small></td>
			<td>{{ submission.pre_score }}</td>
			<td>
				<span class="small" {{ submission.delay > 0 ? 'style="color:red;"' }}'>
				{% if submission.delay <= 0 %}
					No Delay
				{% else %}
					<span title="HH:MM">{{ time_hhmm(submission.delay) }}</span>
				{% endif %}
				</span><br>
				<small>{{ submission.coefficient }}%</small>
			</td>
			{# <td style="font-weight: bold;">{{ submission.final_score }} </td> #}
			<td><small>{{ submission.language }}</small></td>
			<td class="status">
				{% if submission.status == 'Uploaded' %}
					Uploaded
				{% else %}
					{% if submission.status|lower == 'pending' %}
						{% set submission_class = 'btn btn-secondary pending' %}
					{% elseif submission.status|lower == 'score' %}
						{% set submission_class = (submission.fullmark ? 'btn btn-success' : 'btn btn-danger') %}
					{% else %}
						{% set submission_class = 'btn btn-primary' %}
					{% endif %}
					<div class="{{ submission_class }} status_button" data-type="result" >
						{% if submission.status == 'SCORE' %}
							{{ submission.final_score }}
						{% else %}
							{{ submission.status }}
						{% endif %}
					</div>
				{% endif %}
			</td>
			<td>
				<div class="btn btn-warning" data-type="code" >Code</div>
			</td>
			{% if user.level > 0 %}
			<td>
				{% if submission.status == 'Uploaded' %}
					---
				{% else %}
					<div class="btn btn-secondary" data-type="log" >Log</div>
				{% endif %}
			</td>
			{% endif %}
			{% if user.level >= 2 %}
				<td>
					<div class="shj_rejudge pointer"><i class="fa fa-redo fa-lg color10"></i></div>
				</td>
			{% endif %}
		</tr>
	{% endfor %}
</table>

<p>
{%  if view == 'all' %}
{{ pagination|raw }}
{% endif %}
</p>
</div>
{% endblock %}  {# main_content #}
