<!DOCTYPE html>
<html>
<head>
<!--bootstrap-->
	<meta content="text/html" charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>Bootstrap</title>
	<link rel="stylesheet" href="{{ base_url('assets/css/bootstrap.css') }}">
	<link rel="stylesheet" href="{{ base_url('assets/css/bootstrap-theme.min.css') }}">
	<link rel="stylesheet" href="{{ base_url('assets/css/style.css') }}">

	
	<link rel="icon" href="{{ base_url('assets/images/favicon.ico') }}"/>
	<link rel="stylesheet" type='text/css' href="{{ base_url('assets/styles/main.css') }}"/>
	<script type="text/javascript" src="{{ base_url('assets/js/jquery-1.10.2.min.js') }}"></script>
	<!-- You can use google's cdn for loading jquery: -->
	<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> -->
	<script type="text/javascript" src="{{ base_url('assets/js/jquery-ui-1.10.3.custom.min.js') }}"></script>
	<link rel="stylesheet" href="{{ base_url('assets/styles/flick/jquery-ui-1.10.3.custom.min.css') }}"/>
	<script type="text/javascript" src="{{ base_url('assets/js/moment.min.js') }}"></script>
	<script type="text/javascript" src="{{ base_url('assets/js/jquery.hoverIntent.minified.js') }}"></script>
	<script type="text/javascript" src="{{ base_url('assets/js/jquery.cookie.js') }}"></script>
	<script type="text/javascript" src="{{ base_url('assets/js/jquery.ba-resize.min.js') }}"></script>

	<script type="text/javascript" src="{{ base_url('assets/noty/jquery.noty.js') }}"></script>
	<script type="text/javascript" src="{{ base_url('assets/noty/layouts/center.js') }}"></script>
	<script type="text/javascript" src="{{ base_url('assets/noty/layouts/bottomRight.js') }}"></script>
	<script type="text/javascript" src="{{ base_url('assets/noty/themes/default.js') }}"></script>

	<link rel='stylesheet' type='text/css' href='{{ base_url('assets/nano_scroller/nanoscroller.css') }}'/>
	<script type='text/javascript' src="{{ base_url('assets/nano_scroller/jquery.nanoscroller.min.js') }}"></script>

	<link rel='stylesheet' type='text/css' href='{{ base_url('assets/font/font-awesome/css/font-awesome.min.css') }}'/>


</head>
<body>
	 <div class="container-fluid">
	{% include 'templates/top_bar.twig' %}
	</div>
    	<div class="container">
  	<!-- Default panel contents -->
	  	<div class="panel-heading"></div>
			<div class="row">
	    		<h2>Top 10</h2>
	 		<table class="table table-hover table-striped">
				<thead>
				            <tr>
				                <th>Xếp hạng</th>
				                <th>Lớp</th>
				                <th>Họ Tên</th>
				                <th>Điểm bài tập</th>
				                <th>Điểm thi đấu</th>
				                <th>Tổng điểm</th>
				            </tr>
      				</thead>

			      	<tbody>
				            <tr>
				                <td>1</td>
				                <td>KHMT2015</td>
				                <td>An Nam</td>
				                <td>200</td>
				                <td>192</td>
				                <td>392</td>
				            </tr>
				            <tr>
				                <td>2</td>
				                <td>KHMT2014</td>
				                <td>An Nam</td>
				                <td>200</td>
				                <td>192</td>
				                <td>392</td>
				            </tr>
				            <tr>
				                <td>3</td>
				                <td>KHMT2016</td>
				                <td>An Nam</td>
				                <td>200</td>
				                <td>192</td>
				                <td>392</td>
				            </tr>
			        	</tbody>
	  		</table>
		</div>
	</div>
    	<div class="container">
  	<!-- Default panel contents -->
	  	<div class="panel-heading"></div>
			<div class="row">
	    		<h2>My Rank</h2>
	    		<div class="table-responsive">
		 		<table class="table table-hover table-striped">
					<thead>
					            <tr>
					                <th>Xếp hạng</th>
					                <th>Lớp</th>
					                <th>Họ Tên</th>
					                <th>Điểm bài tập</th>
					                <th>Điểm thi đấu</th>
					                <th>Tổng điểm</th>
					            </tr>
	      				</thead>

				      	<tbody>
					            <tr class = "success">
					                <td>1</td>
					                <td>KHMT2015</td>
					                <td>An Nam</td>
					                <td>200</td>
					                <td>192</td>
					                <td>392</td>
					            </tr>
					            <tr class = "danger">
					                <td>2</td>
					                <td>KHMT2014</td>
					                <td>An Nam</td>
					                <td>200</td>
					                <td>192</td>
					                <td>392</td>
					            </tr>
					            <tr class = "info">
					                <td>3</td>
					                <td>KHMT2016</td>
					                <td>An Nam</td>
					                <td>200</td>
					                <td>192</td>
					                <td>392</td>
					            </tr>
				        	</tbody>
		  		</table>
		  	</div>
		</div>
	</div>
	

    
	<script type="text/javascript" src="{{ base_url('assets/js/jquery-3.2.1.min.js') }}"></script>
	<script type="text/javascript" src="{{ base_url('assets/js/bootstrap.min.js') }}"></script>
</body>
</html>