{#
 # Sharif Judge
 # file: add_notification.twig
 # author: Mohammad Javad Naderi <mjnaderi@gmail.com>
 #}
{% set selected = 'notifications' %}
{% extends 'templates/base.twig' %}
{% block icon %}fas {{ notif_edit ? 'fa-edit' : 'fa-plus' }}{% endblock %}
{% block title %}{{ notif_edit ? 'Edit' : 'New' }} Notification{% endblock %}
{% block head_title %}{{ notif_edit ? 'Edit' : 'New' }} Notification{% endblock %}

{% block body_end %}
<script src="{{ base_url('assets/ckeditor/ckeditor.js') }}" charset="utf-8"></script>
<script>
$(document).ready(function(){
	CKEDITOR.replace("notif_text");
});
</script>
{% endblock %}



{% block main_content %}
{{ form_open('notifications/'~( notif_edit ? 'edit/'~notif_edit.id : 'add' )) }}
{% if notif_edit %}
	<input type="hidden" name="id" value="{{ notif_edit.id }}"/>
{% endif %}
<p class="input_p">
	<label for="form_title" class="tiny">Title:</label>
	<input id="form_title" name="title" type="text" class="sharif_input" value="{{ notif_edit.title }}"/>
</p>
<p class="input_p">
	<label for="notif_text" class="tiny">Text:</label><br><br>
	<textarea id="notif_text" name="text">{{ notif_edit.text }}</textarea>
</p>
<p class="input_p">
	<input type="submit" value="{{ notif_edit ? 'Save' : 'Add' }}" class="sharif_input"/>
</p>
</form>
{% endblock %}  {# main_content #}
