{#
 # Sharif Judge
 # file: add_assignment.twig
 # author: Mohammad Javad Naderi <mjnaderi@gmail.com>
 #}
{% set selected = 'Problems' %}
{% extends 'templates/base.twig' %}
{% block icon %}{{ edit ? 'fa-edit' : 'fa-clipboard-list' }}{% endblock %}
{% block title %}{{ edit ? 'Edit' : 'Add' }} Assignment{% endblock %}
{% block head_title %}{{ edit ? 'Edit' : 'Add' }} Assignment{% endblock %}



{% block title_menu %}
{% if user.level >= 2 %}
<span class="title_menu_item"><a href="{{ site_url('problems/add') }}"><i class="fas fa-plus color8"></i> Add</a></span>
{% endif %}
{% endblock %}



{% block main_content %}
<div class="col">
{% set msgclasses = {'success': 'text-success', 'notice': 'text-info', 'error': 'text-danger'} %}
{% for message in messages %}
	<p class="{{ msgclasses[message.type] }} {{message.type}}">{{ message.text }}</p>
{% endfor %}

{% if all_problems|length == 0 %}
	<p style="text-align: center;">Nothing to show...</p>
{% else %}
<br/>
<table class="wecode_table table table-striped table-bordered">
<thead class="thead-dark">
<tr>
	<th>ID</th>
	<th style="width: 30%">Name</th>
	<th>Note</th>
	<th style="width: 30%">Info</th>
	<th>diff command</th>
	<th>diff argument</th>
	<th>Tools</th>
</tr>
</thead>
{% for item in all_problems %}
<tr>
	
	<td>{{ item.id}}</td>
	<td><a href="{{ site_url("problems/show/#{item.id}") }}">{{ item.name }}</a></td>
	<td>{{item.admin_note}}</td>
	<td>{{item.no_of_lang}} language(s)</br>{{item.no_of_ass}} assignment(s) </br>{{item.no_of_sub}} submission(s)</td>
	<td>{{ item.diff_cmd }}</td>
	<td>{{ item.diff_arg }}</td>
	
	<td>
		<a href="{{ site_url('problems/downloadtestsdesc/'~item.id) }}"><i title="Download Tests and Descriptions" class="fa fa-cloud-download-alt fa-lg color11"></i></a>
		{# <a href="{{ site_url("problems/download_submissions/by_user/#{item.id}") }}"><i title="Download Final Submissions (by user)" class="fa fa-download fa-lg color12"></i></a> #}
		{# <a href="{{ site_url("problems/download_submissions/by_problem/#{item.id}") }}"><i title="Download Final Submissions (by problem)" class="fa fa-download fa-lg color2"></i></a> #}
		<a href="{{ site_url('problems/edit/'~item.id) }}"><i title="Edit" class="far fa-edit fa-lg color3"></i></a>
		{# <a href="{{ site_url('problems/destroy/'~item.id) }}"><i title="Delete" class="fa fa-times fa-lg color1"></i></a> #}
	</td>

</tr>
{% endfor %}
</table>
{% endif %}
</div>
{% endblock %}  {# main_content #}
