{#
 # Sharif Judge
 # file: users.twig
 # author: Mohammad Javad Naderi <mjnaderi@gmail.com>
 #}
{% set selected = 'users' %}
{% extends 'templates/base.twig' %}
{% block icon %}fa-users{% endblock %}
{% block title %}Users{% endblock %}
{% block head_title %}Users{% endblock %}



{% block title_menu %}
	<span class="title_menu_item"><a href="https://github.com/truongan/wecode-judge/blob/docs/v1.4/users.md" target="_blank"><i class="fa fa-question-circle color6"></i> Help</a></span>
	<span class="title_menu_item"><a href="{{ site_url('users/add') }}"><i class="fa fa-plus color11"></i> Add Users</a></span>
	<span class="title_menu_item"><a href="{{ site_url('users/list_excel') }}"><i class="fa fa-download color9"></i> Excel</a></span>
{% endblock %}



{% block main_content %}
<div class="col">
{% if deleted_user %}
	<p class="shj_ok">User deleted successfully.</p>
{% endif %}
{% if deleted_submissions %}
	<p class="shj_ok">Submissions of selected user deleted successfully.</p>
{% endif %}
<div style="height:15px"></div>
<table class="wecode_table table table-striped table-bordered">
	<thead class="thead-dark">
		<tr>
			<th>#</th>
			<th>User ID</th>
			<th>Username</th>
			<th>Display Name</th>
			<th>Email</th>
			<th>Role</th>
			<th>First Login</th>
			<th>Last Login</th>
			<th>Actions</th>
		</tr>
	</thead>
	{% for user in users %}
		<tr data-id="{{ user.id }}">
			<td>{{ loop.index }}</td>
			<td>{{ user.id }}</td>
			<td id="un">{{ user.username }}</td>
			<td dir="auto">{{ user.display_name }}</td>
			<td>{{ user.email }}</td>
			<td>{{ user.role }}</td>
			<td>{{ user.first_login_time ? user.first_login_time : 'Never' }}</td>
			<td>{{ user.last_login_time ? user.last_login_time : 'Never' }}</td>
			<td>
				<a title="Edit" href="{{ site_url('profile/'~user.id) }}"><i class="fa fa-pencil fa-lg color9"></i></a>
				<a title="Submissions" href="{{ site_url('submissions/all/user/'~user.username) }}"><i class="fa fa-bars fa-lg color12"></i></a>
				<span title="Delete User" class="delete-btn delete_user pointer"><i title="Delete User" class="fa fa-times fa-lg color2"></i></span>
				<span title="Delete Submissions" class="delete-btn delete_submissions pointer"><i class="fa fa-times-circle fa-lg color1"></i></span>
			</td>
		</tr>
	{% endfor %}
</table>

{% endblock %}  {# main_content #}
{% block body_end %}
<div class="modal fade" id="user_delete" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Are you sure you want to delete this user?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div style="text-align: center;">Loading<br><img src="{{ base_url('assets/images/loading.gif') }}"/></div>
      </div>
	  <div class="modal-footer">
        <button type="button" class="btn btn-danger confirm-user-delete">yes, DELETE user</button>
		<button type="button" class="btn btn-primary" data-dismiss="modal">NO, DON'T delete</button>
      </div>
    </div>
  </div>
</div>

</div>

{% endblock %}
